{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>GitHub Angular Project</title>
    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.min.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.min.js" %}"></script>
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>

    <!------- Bootstrap ------->
{#    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!------- JavaScript ------->
    <script src="{% static "js/app.js" %}"></script>

    <!------- Factories ------->
    <script src="{% static "js/factories/projectFactory.js" %}"></script>
    <script src="{% static "js/factories/userResource.js" %}"></script>
    <script src="{% static "js/factories/projectResource.js" %}"></script>

    <!------- Services ------->
    <script src="{% static "js/services/auth.js" %}"></script>


    <!------- Controllers ------->
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/projectController.js" %}"></script>
    <script src="{% static "js/controllers/userController.js" %}"></script>
    <script src="{% static "js/controllers/authController.js" %}"></script>



    <!------- CSS ------->
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body>
    <div class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Portfolio</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Active</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div ng-app="portfolio">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>